.mainHeaderText {
  font-family: "Playfair Display", serif;
  font-size: 5.2rem;
  background: linear-gradient(90deg, #00C49A, #009474);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}


.secondaryHeaderText {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  background: linear-gradient(90deg, #00C49A, #009474);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}