.mainHeaderText {
  font-family: "Playfair Display", serif;
  font-size: 5.2rem;
  background: linear-gradient(90deg, #00C49A, #009474);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}


.secondaryHeaderText {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  background: linear-gradient(90deg, #00C49A, #009474);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}


.mainBtn {
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: $secondary-color;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  text-align: center;

  span{
    position: relative;
    z-index: 1;
  }

  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: $textColor;
    border-radius: 8px;
    transition: all 0.5s;
    z-index: 0;
  }

  &:hover{
    cursor: pointer;
  }

  &:hover::after{
    width: 100%;
  }
}