$mainColor: #006b54;
$mainColorLight: #009675;


$textColor: #006b54;
$textHoverColor: #666666c0;
$secondary-color: #00C49A;  
$background-color: #F5F5F5; /* Light Grey */

    
$errColor: rgba(255, 62, 62, 0.973); 




//Padding - Margins
$defaultPaddingSection: 6rem;


//Rensponsive EndPoints
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1304px;


//Shadows
$mainShodws: 0px 0px 12px 0px #33333363;
$mainShodwsLight: 0px 0px 12px 0px #e4e4e463;


// Font Family
$headersFamily: "Playfair Display", serif;

