$mainColor: #333;
$secondaryColor: #444;

$textColor: #333333;
$textHoverColor: #0000007e;



$navColor: #3ab0ff46;

$primary-color: #3AB0FF;    /* Bright Blue */
$secondary-color: #00C49A;  /* Fresh Green */
$accent-color: #FFD700;     /* Sunny Yellow */
$background-color: #F5F5F5; /* Light Grey */
$text-color: #333333;       /* Dark Grey */
$neutral-color: #B0BEC5;    /* Soft Grey */