$mainColor: #333;
$secondaryColor: #444;

$textColor: #006b54;
$textHoverColor: #666666c0;



$primary-color: #72c7ff;    /* Bright Blue */

// $primary-color: #3AB0FF;    /* Bright Blue */
$secondary-color: #00C49A;  /* Fresh Green */
$accent-color: #FFD700;     /* Sunny Yellow */
$background-color: #F5F5F5; /* Light Grey */
$neutral-color: #b0bec58a;    /* Soft Grey */



//Padding - Margins
$defaultPaddingSection: 6rem;


//Rensponsive EndPoints
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

//Shadows
$mainShodws: 0px 0px 12px 0px #33333363;