.booking {
    width: 100%;
    height: 100vh;
    padding-inline: $defaultPaddingSection;
    margin-bottom: 6rem;
    margin-top: 16rem;

    

    @media (max-width:$breakpoint-medium){
        padding-inline: 0;
    }

    &-content{
        color: #fff;
        font-weight: bold;
        position: relative;
        display: flex;
        justify-content: end;
        
        border-radius: 8px 200px 200px 200px;
        overflow: hidden;
        box-shadow: $mainShodws;

        @media (max-width:$breakpoint-medium){
            height: 100%;
        }
    }

    &-form{
        width: 32rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(72px);
        justify-content: center;
        border-radius: 0px 200px 200px 200px;
        gap: 2rem;
        box-shadow: $mainShodwsLight;

        h1{
            color: $secondary-color;
            font-size: 2rem;
        }

        p{
            width: 18rem;
            align-self: center;
        }
    }
}


.bookingImg{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0px 200px 200px 200px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
    }
}

.inputEl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.3s;

    
    
    input, textarea{
        background: #33333349;
        font-size: 1rem;
        letter-spacing: 1px;
        padding: 1rem 0.5rem;
        border: none;
        border-radius: 8px;
        box-shadow: $mainShodwsLight;
        color: #fff;
        resize: none;
    }

    label{
        color: #ffffffd2;
        padding-left: 0.6rem;
        transition: all 0.3s;
    }

    .selectedLabel{
        color: #fff;
        padding-left: 0rem;
    }
}