
// $textHoverColor: #a0a0a0;
// $textColor: #fff;

@mixin afterNav {
  content: '';
  width: 0%;
  height: 2px;
  background-color: $textHoverColor;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}


.navbar {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0rem 2rem 0rem 2rem;
  background-color: $background-color;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  transition: all 0.5s;


  &-logo{
    font-weight: bold;
    transition: all 0.3s;


    &:hover{
      transform: scale(110%);
      cursor: default;
    }
  }

  &-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    a{
      transition: all 0.5s;
      position: relative;
      letter-spacing: 1pxs;

      &::after{
        @include afterNav;
      }

      &:hover{
        cursor: pointer;
        color: $textHoverColor;
      }

      &:hover::after{
        width: 100%;
      }
    } 

    @media (max-width:'600px'){
      display: none;  
    } 
  }
}

.showedNav {
  transition: all 0.5s;
  transform: translateY(0%);
}


.navbar-mobile-btn{
  color: $textColor;
  display: none;
  transition: all 0.4s;

  &:hover{
    cursor: pointer;
    transform: rotate(720deg);
    color: $textHoverColor;
  }

  @media (max-width:$breakpoint-small){
    display: block;
  }
}

.navbar-mobile-links{
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  padding: 2rem;
  top: 100%;
  width: 104%;
  left: 0;
  align-items: end;
  transition: all 0.5s;
  display: none;

  p{
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
  }

  @media (max-width:'600px'){
    display: flex;  
    gap: 2rem;

    

    a{
      transition: all 0.5s;
      position: relative;
      margin-right: 2rem;


      &::after{
        @include afterNav;
      }
  
      &:hover{
        cursor: pointer;
        color: $textHoverColor;
      }
  
      &:hover::after{
        width: 100%;
      }
    }
  } 
}

.hidden-links{
  transform: translateX(100%);
}

.active {
  color: $textHoverColor;

  &::after{
    @include afterNav;
    width: 100% !important;
  }
}



