.services {
    height: 80vh;
    width: 100vw;
    margin-top: 12rem;
    padding: $defaultPaddingSection;
    color: $textColor;
    
    &-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;

        p{  
            font-size: 1.4rem;
            box-shadow: $mainShodws;
            padding: 1rem 4rem;
            border-radius: 22px;
        }
    }

    &-main{
        display: grid;
        grid-template-columns: repeat(
            auto-fill, minmax(22rem, 1fr)
        );
        gap: 1.5rem;
    }
}