.backDrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 1001;
}

.modal-content {
    position: fixed;
    border-radius: 8px;
    z-index: 1001;
    top:10%;
    left: 50%;
    width: 70vw;
    height: 80vh;
    transform: translateX(-50%) !important;
    background-color: $background-color;
    border: none;
    padding: 6rem;
    box-shadow: $mainShodwsLight;
    overflow-y: auto !important;
    animation: fadeIn 0.5s ease-in-out;


    @media (max-width:$breakpoint-medium){
        width: 100vw;
        height: 100vh;
        top: 0;
        padding-inline: 0;
    }
    /* overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto; */
  }

.closBtn{
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 100012;
    background-color: $secondary-color;
    display: flex;
    padding: 0.4rem;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s;

    span{
        font-size: 2.2rem;
        font-weight: bold;
        pointer-events: none;
    }

    &:hover{
        cursor: pointer;
        background-color: $mainColor;

    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%, 0);
    }
}