.notification {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
    top: 15%;
    left: 50%;
    z-index: 1002;
    transform: translateX(-50%);
    padding: 2rem 1rem;
    border-radius: 6px;
    font-size: 1.4rem;
    max-width: 32rem;
    animation: fadeIn 0.5s ease-in-out;

    &-icon{
        span{
            font-size: 3rem;
        }
    }
}


.success{
    background: $mainColor;
}

.err {
    background: $errColor;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%, 0);
    }
}